::-webkit-scrollbar { 
    display: none; 
}

.intro{

position: relative;
top:110px;
/* background-color: rgb(195, 195, 195); */

background-color:rgb(150, 150, 150) ;

text-align: center;

padding: 40px;
}
.logo1{
max-width: 90px;
padding: 5px;
border-bottom: 1px solid grey;


}
.we{
color: #091034;

}
.matn{
    position: relative;
    top:200px;
   left: 50px;
    box-sizing: border-box;
    /* opacity: 0.4; */
    
}
.para1{
font-family: Arial, Helvetica, sans-serif;
font-size: 1.5rem;
padding: 10px;
background-color: rgba(92, 95, 133, 0.205);
margin-right: 720px;
color: antiquewhite;

}
.para2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    margin-right: 950px;
    color: antiquewhite;
    padding: 5px;
    }
    